/* Workaround for handsontable 0.16-0.19 height issue */

.wtHolder {
  height: auto !important;
}

/* Workaround for displaced header row and overflow issues */

.handsontable-container {
  position: relative;
  overflow: hidden;
}

/* Base background color */

body {

  background-color: #f3f3f4;

}

/* Decorating only touched and unsaved inputs as invalid/valid */

input.ng-invalid.ng-touched.ng-dirty {
  border-color: red;
}

input.ng-valid.ng-touched.ng-dirty {
  border-color: green;
}

/* Select 2 form control styling */

div.select2 .select2-container {
  width: 100% !important;
}

/* Handsontable currently selected row/column styles */

.handsontable td.current-row {
  background-color: #ccc;
}

.handsontable td.current-column {
  background-color: #ccc;
}

/* Start page */

#start, #basic-info {

  #hero {

    text-align: center;
    margin: 0;
    padding: 0;
    background: url(../images/start.jpg) no-repeat center #2d6492 !important;
    background-size: auto 120%;
    background-position: center top;
    width: 100%;
    /*height: 500px;*/
    min-height: 500px;
    color: #fff;
    font-size: 18px;
    position: relative;
    overflow: hidden;

    h1 {

      font-size: 50px;
      color: #fff;
      background-color: transparent;
      margin-top: 0;
      padding-top: 90px;
      padding-bottom: 10px;
      width: 100%;
      font-weight: 100;

    }

    .btn {

      padding: 15px 30px;
      color: #fff;
      background-color: @navy;
      transition: background .25s ease-in-out;
      -moz-transition: background .25s ease-in-out;
      -webkit-transition: background .25s ease-in-out;

      &:hover {

        text-decoration: none;
        background: darken(@navy, 10%);
        border-color: darken(@navy, 10%);

      }

      span {

        display: inline;
        margin: 0;

      }

    }

    span {

      display: block;
      margin: 20px 0;
      text-shadow: 1px 1px 1px #000;

    }

    a {

      color: @navy;

      &:hover {

        text-decoration: underline;

      }

    }

    .banner {

      padding: 38px;
      background-color: rgba(0, 0, 0, 0.5);
      /*position: absolute;
      bottom: -3px;*/
      width: 100%;

    }

  }

  #content {

    margin: 40px;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #eee;
    text-align: center;

    .fa {

      font-size: 60px;

    }

    h2 {

      font-size: 18px;
      color: @text-color;
      font-weight: 700;

      a {
        color: @text-color;
      }

    }

    p {

      text-align: center;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 4em;

    }

  }

}

@media only screen and ( max-width: 400px ) {
  #start, #basic-info {
    #hero {
      h1 {
        padding-top: 10px;
        padding-bottom: 0px;
      }
    }
  }
}

/* For hybrid (top+side) navigation style */

.navbar-static-top, .navbar-brand {

  height: 65px;

  ul.nav li {

    height: 65px;

    a {

      padding: 20px 20px;

    }
  }

}

#navbar {

  background: #151515;

}

.top-navigation .nav > li.active,
.top-navigation .nav > li.active a,
.top-navigation .nav > li,
.top-navigation .nav > li a {

}

.top-navigation {
  .navbar-brand {

    background: @navbar-bg-color;
    padding: 0px 0px;
    width: 230px;
    margin-left: 7px;
    margin-right: 17px;

  }

  .nav > li.active,
  .nav > li.active a,
  .nav > li a:focus {

    background-color: #151515;

  }

}

.tabs-container {

  .nav > li.active,
  .nav > li.active a,
  .nav > li a:focus {

    background-color: #FFFFFF;

  }

}

.dropdown-menu {
  background: @navy;
}

.navbar-fixed-top, .navbar-static-top {
  background: @navbar-bg-color;
}

.navbar-toggle {
  margin-right: 5%;
}

nav.navbar-static-top {

  #navbar {

    background-color: @navbar-bg-color;

    li {

      background: @navbar-bg-color;
      color: #fff;

      &:hover {
        background: @navy;
        color: #fff;
      }
      &:focus {
        background: @navy;
        color: #fff;
      }

      a {

        background: @navbar-bg-color;
        color: #fff;

        &:hover {
          background: @navbar-bg-color;
          color: #fff;
        }
        &:focus {
          background: @navbar-bg-color;
          color: #fff;
        }

      }

      &.active {

        background: @navy;
        color: #fff;

        &:hover {
          background: @navy;
          color: #fff;
        }
        &:focus {
          background: @navy;
          color: #fff;
        }

        a {

          background: @navy;
          color: #fff;

          &:hover {
            background: @navbar-bg-color;
            color: #fff;
          }
          &:focus {
            background: @navy;
            color: #fff;
          }

        }

      }

    }
  }
}

.top-navigation #page-wrapper.side-menu-shown {

  margin: 0 0 0 239px;
  padding: 0;

}

#page-wrapper {
  padding: 0;
}

.page-heading {
  padding: 0 18px 20px;
  margin-bottom: 28px;
}

.page-heading.side-menu-shown {
  margin: 0px -15px 20px -15px;
  padding: 15px 10px 15px 10px;

}

.navbar-static-side {

  background: #1f1f1f;
  height: 100%;
  width: 239px;

}

.top-navigation .nav li {

  background: transparent;
  color: #fff;

  a {

    background: transparent;
    color: #fff;

  }

}

.top-navigation .nav-tabs {

  li {

    color: @navy;
    background: transparent !important;
    overflow: hidden;

    &.active {
      background: transparent !important;

      a {

        background-color: #fff;
        color: #000;
        border: 1px solid #e7eaec;
        border-bottom: 0 !important;

        &:hover {

          background-color: #fff;
          color: #000;
          box-shadow: none;

        }

        &:focus {

          background-color: #fff;
          color: #000;
          box-shadow: none;

        }

      }

    }

    &.disabled {
      pointer-events: none;
      cursor: default;

      a {
        color: #aaa;
      }
    }

    a {

      color: @navy;
      border: 0;
      padding-top: 16px;

    }

  }

}

.top-navigation #page-wrapper.side-menu-shown .wrapper.wrapper-content, #page-wrapper.side-menu-shown .wrapper-content {

  padding: 0px 10px 40px;
}

.top-navigation .wrapper.wrapper-content, .wrapper-content {

  padding: 40px;
}

.navbar-static-side {
  background-color: #444;

  li {

    a {
      padding: 10px 20px 10px 25px !important;
    }
    ul {

      li {

        a {

          padding: 10px 20px 10px 45px !important;
          font-size: 11px;

        }

      }
    }

  }

}

#side-menu {
  font-size: 13px;
  background: #444;
  width: 239px;

  hr {
    border-color: #555;
    margin: 0;
  }

  li > a {
    font-weight: 400 !important;
  }
  li.active:hover, li.active > a:hover, li > a:hover {
    background: #151515 !important;
    color: @navy;
  }
  .nav-title {
    padding: 20px 25px 15px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bababa;
    font-size: 12px;
  }

  .nav-header-wrapper {

    background: url(../images/foo.jpg) center center no-repeat;
    display: block;
    min-height: 100px;
    background-size: 110% auto;
    height: 120px;

    .nav-header {

      text-align: left;
      background: url(../images/black-shader.png) left bottom repeat-x !important;
      padding-bottom: 10px;
      height: 100%;

      h3 {
        font-weight: 100 !important;
        font-size: 24px;
        margin-top: 20px;
      }
      .label {
        font-size: 9px;
      }
    }

  }

}

/* Override the default white text color */
.dc-chart g.row text {
  fill: black;
}

dna-file-selection-widget {

  margin-bottom: 15px;
  display: block;

}

.switch {

  input {
    display: none;
  }

  i {
    display: inline-block;
    cursor: pointer;
    padding-right: 20px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    border-radius: 20px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .5);
  }

  i:before {
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  }

  :checked + i {
    padding-right: 0;
    padding-left: 20px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .5), inset 0 0 40px @navy;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .5), inset 0 0 40px @navy;
  }

}

.tooltip {
  width: 200px;
  font-size: 11px;
  padding: 20px;
}

.page-heading h1 {
  font-size: 26px;
}

.fp__btn {
  background-color: @navy !important;
  padding: 4px 20px 5px 20px !important;
  background-image: none !important;
  border-radius: 3px !important;
}

.fa-circle-o-notch {
  margin: 20% 47%;
}

.pace .pace-progress {
  background: #aed0ed !important;
}

.footer {
  display: none;
}

/* App custom css */
/* ... */

