/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

/* Workaround for handsontable 0.16 + ngHandsontable 0.6.0 height issue */
.wtHolder {
  height: auto !important;
}

/* Handsontable currently selected row/column styles */
.handsontable td.current-row {
  background-color: #ccc;
}

.handsontable td.current-column {
  background-color: #ccc;
}
