// Basic Colors
@navy: #558fc1;       // Primary color
@dark-gray: #c2c2c2;  // Default color
@blue: #1c84c6;       // Success color
@lazur: #23c6c8;      // Info color
@yellow: #f8ac59;     // Warrning color
@red: #ED5565;        // Danger color
@white: #ffffff;		// White

// Various colors
@text-color: #676a6c;   // Body text
@gray: #f3f3f4;         // Background wrapper color
@light-gray: #D1DADE;   // Default label, badget
@label-badget-color: #5E5E5E;
@navbar-bg-color: #558fc1;
@navbar-active-color: #333;

// IBOX colors ( default panel colors)
@border-color: #e7eaec;     // IBox border
@ibox-title-bg:#ffffff;     // IBox Background header
@ibox-content-bg:#ffffff;   // IBox Background content

//Sidebar
@sidebar-width: 220px;
@sidebar-color: #44464f;
@sidebar-active: #3b3d45;

// Boxed layout width
@boxed-width: 1200px;
@boxed-backgound: url('patterns/shattered.png');

//Border radius for buttons
@btn-border-radius: 3px;

//Navigation
@nav-bg: #2F4050;
@nav-profil-pattern: url("patterns/header-profile.png") no-repeat;
@nav-text-color: #a7b1c2;