[submodule "bower_components"]
	path = bower_components
	url = git@github.com:neam/dna-project-base-angular-frontend-bower_components.git
	branch = develop
[submodule "bower_components-git-repos/Handsontable-select2-editor"]
	path = bower_components-git-repos/Handsontable-select2-editor
	url = git@github.com:motin/Handsontable-select2-editor.git
[submodule "bower_components-git-repos/angular-select2"]
	path = bower_components-git-repos/angular-select2
	url = git@github.com:motin/angular-select2.git
[submodule "bower_components-git-repos/angular-simple-handsontable"]
	path = bower_components-git-repos/angular-simple-handsontable
	url = git@github.com:neam/angular-simple-handsontable.git
[submodule "bower_components-git-repos/ng-optimizely"]
	path = bower_components-git-repos/ng-optimizely
	url = git@github.com:neam/ng-optimizely.git
