<ul class="nav navbar-nav">

    <li class="active" ng-show="!$state.includes('root.start')">
        <a ui-sref="root.start" href="#"><i class="fa fa-arrow-left"></i> <span class="nav-label">Back</span></a>
    </li>

    <li class="active" ng-show="activeApiEndpoint.promise.$$state.status === 1">
        <a ui-sref="root.api-endpoints.existing.foos.list({apiEndpoint: activeApiEndpoint.slug})" href="#"><i
                class="fa fa-building"></i> Foos </a>

    </li>

    <li class="dropdown" dropdown>
        <a class="dropdown-toggle" href dropdown-toggle> Menu item <span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
            <li><a href="#">Menu item</a></li>
            <li><a href="#">Menu item</a></li>
            <li><a href="#">Menu item</a></li>
            <li><a href="#">Menu item</a></li>
        </ul>
    </li>

    <li class="dropdown" dropdown>
        <a class="dropdown-toggle" href dropdown-toggle> Menu item <span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
            <li><a href="#">Menu item</a></li>
            <li><a href="#">Menu item</a></li>
            <li><a href="#">Menu item</a></li>
            <li><a href="#">Menu item</a></li>
        </ul>
    </li>

    <li class="active">
        <a ui-sref="root.faq" href="#"><i
                class="fa fa-question-circle"></i> <span class="nav-label">FAQ</span> </a>

    </li>

</ul>
<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown" dropdown ng-show="apiEndpoints.length > 1 && activeApiEndpoint.promise.$$state.status !== 1">
        <a class="dropdown-toggle" href dropdown-toggle> <span ng-show="activeApiEndpoint.promise.$$state.status !== 1">Choose</span><span
                ng-show="activeApiEndpoint.promise.$$state.status === 1">Switch</span> account <span
                class="caret"></span></a>
        <ul role="menu" class="dropdown-menu" ng-class="">
            <li ng-repeat="apiEndpoint in apiEndpoints" ng-class="{active: apiEndpoint == activeApiEndpoint}"><a
                    href="javascript:void(0);" ng-click="setApiEndpoint(apiEndpoint.slug);"><i
                    class="fa fa-dashboard"
                    ng-show="apiEndpoint == activeApiEndpoint"></i>{{apiEndpoint.slug}}</a></li>
        </ul>
    </li>
    <li ng-class="{active: $state.includes('user')}" class="dropdown" dropdown>
        <a class="dropdown-toggle" href dropdown-toggle> {{user.first_name || 'User menu'}} <span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu" ng-class="{in: $state.includes('user')}">
            <li ui-sref-active="active" ng-show="!user.authenticated"><a ui-sref="user.login">Login</a></li>
            <li ui-sref-active="active" ng-show="!user.authenticated"><a ui-sref="user.signup">Signup</a></li>
            <li ui-sref-active="active" ng-show="false"><a ui-sref="user.verify-email">Verify email</a></li>
            <li ui-sref-active="active" ng-show="false"><a ui-sref="user.reset-password">Reset password</a></li>
            <li ui-sref-active="active" ng-show="user.authenticated"><a ui-sref="user.set-password">Change password</a>
            </li>
            <li ng-show="user.authenticated"><a href="" ua-logout><i class="fa fa-sign-out"></i> Log Out</a></li>
        </ul>
    </li>
    <!--<li>
        <a href="login.html">
            <i class="fa fa-sign-out"></i> Log out
        </a>
    </li>-->
</ul>
