<ul class="nav navbar-nav">

    <li ui-sref-active="active" ng-show="false && !$state.includes('root.start')">
        <a ui-sref="root.start" href="#"><i class="fa fa-arrow-left"></i> <span class="nav-label">Back</span></a>
    </li>

    <li ui-sref-active="active" ng-show="activeApiEndpoint.available">
        <a ui-sref="root.api-endpoints.existing.foos.list({apiEndpoint: activeApiEndpoint.slug})" href="#"><i
                class="fa fa-building"></i>Suited foos</a>
    </li>

    <li ui-sref-active="active" ng-show="activeApiEndpoint.available">
        <a ui-sref="root.api-endpoints.existing.foo({apiEndpoint: activeApiEndpoint.slug})" href="#"><i
                class="fa fa-cloud-download"></i> <span class="nav-label">Increase your reach</span></a>
    </li>

    <li ui-sref-active="active" ng-show="activeApiEndpoint.available">
        <a ui-sref="root.api-endpoints.existing.foo({apiEndpoint: activeApiEndpoint.slug})"
           href="#"><i class="fa fa-calendar"></i> <span class="nav-label">Get statistics</span></a>
    </li>

    <li ui-sref-active="active" ng-show="activeApiEndpoint.available">
        <a ui-sref="root.api-endpoints.existing.foo({apiEndpoint: activeApiEndpoint.slug})" href="#"><i
                class="fa fa-clock-o"></i> <span class="nav-label">Live updates</span></a>
    </li>

    <li class="dropdown" dropdown>
        <a class="dropdown-toggle" href dropdown-toggle> Menu item <span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
            <li><a href="#">Menu item</a></li>
            <li><a href="#">Menu item</a></li>
            <li><a href="#">Menu item</a></li>
            <li><a href="#">Menu item</a></li>
        </ul>
    </li>

    <li class="dropdown" dropdown>
        <a class="dropdown-toggle" href dropdown-toggle> Menu item <span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
            <li><a href="#">Menu item</a></li>
            <li><a href="#">Menu item</a></li>
            <li><a href="#">Menu item</a></li>
            <li><a href="#">Menu item</a></li>
        </ul>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="root.faq" href="#"><i
                class="fa fa-question-circle"></i> <span class="nav-label">FAQ</span> </a>

    </li>

</ul>
<ul class="nav navbar-top-links navbar-right" ng-controller="LoginController">
    <li class="dropdown" dropdown ng-show="apiEndpoints.list.length > 1">
        <a class="dropdown-toggle" href dropdown-toggle> <span ng-show="!activeApiEndpoint.available">Choose</span><span
                ng-show="activeApiEndpoint.available">Switch</span> account <span
                class="caret"></span></a>
        <ul role="menu" class="dropdown-menu" ng-class="">
            <li ng-repeat="apiEndpoint in apiEndpoints.list" ng-class="{active: apiEndpoint.slug == activeApiEndpoint.slug}"><a
                    href="javascript:void(0);" ng-click="setApiEndpoint(apiEndpoint.slug);"><i
                    class="fa" ng-class="{'fa-check-circle-o': apiEndpoint.slug == activeApiEndpoint.slug, 'fa-circle-o': apiEndpoint.slug !== activeApiEndpoint.slug}"></i> {{apiEndpoint.slug}}</a></li>
        </ul>
    </li>

    <li ng-class="{active: $state.includes('user')}" class="dropdown" dropdown>
        <a class="dropdown-toggle" href dropdown-toggle> {{auth.profile.first_name || auth.profile.name || 'User menu'}} <span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu" ng-class="{in: $state.includes('user')}">
            <li ui-sref-active="active" ng-show="!auth.profilePromise"><a ui-sref="root.start.user.login" ui-sref-opts="{reload: true}">Log In</a></li>
            <li ui-sref-active="active" ng-show="!auth.profilePromise"><a ui-sref="root.start.user.signup" ui-sref-opts="{reload: true}">Sign Up</a></li>
            <li ui-sref-active="active" ng-show="true"><a ui-sref="root.start.user.reset-password" ui-sref-opts="{reload: true}">Reset Password</a></li>
            <li ng-show="auth.profilePromise"><a ui-sref="root.start.user.logout"><i class="fa fa-sign-out"></i> Log Out</a></li>
        </ul>
    </li>
    <!--<li>
        <a href="login.html">
            <i class="fa fa-sign-out"></i> Log out
        </a>
    </li>-->
</ul>
