<nav ng-controller="NavbarCtrl" class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand-link" ng-href="{{ createUrl('/') }}"><span class="gapminder-logo" ng-include="'templates/logo.html'"></span><span class="navbar-brand-subtitle"></span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-nav-left hidden-xs" nav-expandable items="expandedItems"></ul>
            <ul class="nav navbar-nav navbar-right visible-xs">
                <li ng-show="user.isAuthenticated"><a ng-click="logout()" ng-href="" id="logout">Logout</a></li>
                <li ng-show="!user.isAuthenticated"><a ng-href="{{ createUrl('/') }}">Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li class="dropdown locale-dropdown">
                    <a ng-href="" class="dropdown-toggle dropdown-user" data-toggle="dropdown">{{ locale.getCurrentLocaleLabel() }} <span class="caret"></span></a>
                    <ul class="dropdown-menu locale-menu" role="menu">
                        <li ng-repeat="(code, localeOption) in locale.getLocaleOptions()"><a ng-click="locale.setCurrentLocale(code)" ng-href="">{{ localeOption.name }}</a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-show="user.isAuthenticated">
                    <a ng-href="" class="dropdown-toggle dropdown-user" data-toggle="dropdown">
                        <img ng-src="{{ createAssetUrl('images/dummy/ola-small.png') }}">{{ getUsername() }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="logout()" ng-href="">Logout</a></li>
                    </ul>
                </li>
                <li><a class="hidden-xs" ng-href=" {{ createUrl('/login') }}" ng-show="!user.isAuthenticated">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
