<div class="wrapper wrapper-content animated fadeIn" id="get-started">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox">
                <div class="ibox-title">
                    <ol class="breadcrumb">
                        <li>
                            Get Started
                        </li>
                        <li class="active">
                            <strong>Introduction</strong>
                        </li>
                    </ol>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-3 visible-xs visible-sm hidden-md hidden-lg">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Questions? Need assistance?</h5>
                </div>
                <div class="ibox-content">

                    <i class="fa fa-arrow-down fa-5x pull-right"></i>

                    <p>Just click the question mark at the bottom right corner of each page to get in touch with
                        us. </p>

                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Background</h5>
                </div>
                <div class="ibox-content">

                <p>...</p>

                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-3 hidden-xs hidden-sm visible-md visible-lg">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Questions? Need assistance?</h5>
                </div>
                <div class="ibox-content">

                    <i class="fa fa-arrow-down fa-5x pull-right"></i>

                    <p>Just click the question mark at the bottom right corner of each page to get in touch with
                        us. </p>

                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>...</h5>
                </div>
                <div class="ibox-content">

                    <h5>...</h5>

                    <p>...</p>

                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Next step<!--s--></h5>
                </div>
                <div class="ibox-content">

                    <p>
                        <a ng-if="activeDataEnvironment.available"
                           ui-sref="root.api-endpoints.existing.import-and-inspect.import.overview({dataEnvironment: activeDataEnvironment.slug, clerkFiscalYearId: $state.params.clerkFiscalYearId})"
                           href="#" class="btn btn-primary btn-lg">Start by importing whatever you already have
                            in front of you or near at hand</a>
                        <a ng-if="!activeDataEnvironment.available"
                           ui-sref="root.import-and-inspect.import.overview({dataEnvironment: activeDataEnvironment.slug, clerkFiscalYearId: $state.params.clerkFiscalYearId})"
                           href="#" class="btn btn-primary btn-lg">Start by importing whatever you already have
                            in front of you or near at hand</a>
                    </p>

                </div>
            </div>

        </div>

    </div>
