<footer ng-controller="FooterCtrl" ng-init="init()" class="footer section section-container">
  <div class="section-inner">
    <div class="footer-top">
      <div class="top-primary">
        <!-- <a href="#" ng-click="goMobile()" class="go-mobile-link" i18n="footer:go-to-mobile|html">Go to the Mobile Version</a> -->
        <a href="http://www.gapminder.org"><logo></logo></a>
      </div>
      <div class="top-secondary hidden-xs">
        <ul>
          <li ng-repeat="link in footerItems.socialLinks">
            <a ng-href="{{ link.url }}" target="_blank">
              <span class="footer-social-icon fa {{ getSocialLinkIconClass(link.label) }}"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-group-links">
      <ul>
        <!--
        <li ng-repeat="link in footerItems.groupLinks">
          <a ng-href="{{ link.url }}">{{ link.label }}</a>
        </li>
        -->
        <li><a href="http://www.gapminder.org/world" ng-click="navigation.redirectExternal('http://www.gapminder.org/world', $event)">Gapminder World</a></li>
        <li><a href="http://www.gapminder.org/for-teachers" ng-click="navigation.redirectExternal('http://www.gapminder.org/for-teachers', $event)">For Teachers</a></li>
      </ul>
    </div>
    <div class="footer-brand-links">
      <ul>
        <!--
        <li ng-repeat="link in footerItems.brandLinks">
          <a ng-href="{{ link.url }}">{{ link.label }}</a>
        </li>
        -->
        <li><a href="http://www.gapminder.org/about-gapminder" ng-click="navigation.redirectExternal('http://www.gapminder.org/about-gapminder', $event)">About</a></li>
        <li><a href="http://www.gapminder.org/faq_frequently_asked_questions" ng-click="navigation.redirectExternal('http://www.gapminder.org/faq_frequently_asked_questions', $event)">Help</a></li>
        <li><a href="http://www.gapminder.org/about-gapminder/contact" ng-click="navigation.redirectExternal('http://www.gapminder.org/about-gapminder/contact', $event)">Contact</a></li>
        <li><a href="http://www.gapminder.org/news" ng-click="navigation.redirectExternal('http://www.gapminder.org/news', $event)">Blog</a></li>
        <li><a href="https://docs.google.com/a/gapminder.org/document/pub?id=1POd-pBMc5vDXAmxrpGjPLaCSDSWuxX6FLQgq5DhlUhM" ng-click="navigation.redirectExternal('https://docs.google.com/a/gapminder.org/document/pub?id=1POd-pBMc5vDXAmxrpGjPLaCSDSWuxX6FLQgq5DhlUhM', $event)">Terms</a></li>
        <li><a href="http://www.gapminder.org/donations" ng-click="navigation.redirectExternal('http://www.gapminder.org/donations', $event)">Donate</a></li>
        <li><a href="http://www.gapminder.org/about-gapminder/press-and-media" ng-click="navigation.redirectExternal('http://www.gapminder.org/about-gapminder/press-and-media', $event)">Media</a></li>
      </ul>
    </div>
    <div class="footer-bottom">
      <span class="copyright">&copy; Gapminder Foundation 2014</span>
    </div>
  </div>
</footer>
