<section ng-show="notFound" class="section section-narrow section-centered">
    <div class="section-inner">
        <a class="heading-logo" ng-href="{{ createUrl('/') }}">
            <logo></logo>
        </a>
        <div class="section">
            <div class="section-inner">
                <h1 class="lead-small" i18n="custom-page:page-not-found|html">404 &mdash; Page not found</h1>
            </div>
        </div>
    </div>
</section>

<div ng-hide="notFound" class="page-custom" loader>
    <section class="section section-container">
        <div class="section-inner">
            <div class="columns">
                <div class="column-primary">
                    <h1 class="heading-1">{{ item.heading }}</h1>
                    <sir-trevor-blocks blocks="item.composition.data"></sir-trevor-blocks>
                </div>
            </div>
        </div>
    </section>
</div>
