<div class="page-custom" loader>
    <section class="section section-container">
        <div class="section-inner">
            <div class="columns">
                <div class="column-primary">
                    <h1 class="nav-heading">{{ item.attributes.heading }}</h1>
                    <custom-page-nav item="item"></custom-page-nav>
                    <sir-trevor-blocks blocks="item.attributes.composition.data" about="item.about"></sir-trevor-blocks>
                </div>
            </div>
        </div>
    </section>
</div>
