<div class="page-go">
    <section class="section section-container">
        <div class="section-inner">
            <div class="columns">
                <div class="column-primary">
                    <div class="item-type">{{ itemCategory }} <span class="glyphicon glyphicon-chevron-right"></span> #{{ item.id }}</div>
                    <h1 class="item-title">{{ item.title }}</h1>
                    <span class="item-subheading">{{ item.subheading }}</span>
                    <div class="item-video youtube-container">
                        <youtube-video video-id="item.youtubeId"></youtube-video>
                    </div>
                    <h2 class="heading-4">Sobre este vídeo</h2>
                    <div class="item-about" ng-bind-html="item.about">
                    </div>
                </div>
                <aside class="column-secondary">
                    <h2 class="heading-4">Related</h2>
                    <ul class="related-items">
                        <a ng-href="{{ createRelatedItemUrl(relatedItem.itemType, relatedItem.itemPermalink, relatedItem.itemLang) }}">
                            <li class="related-item" ng-repeat="relatedItem in item.related">
                                <img class="related-item-thumbnail" ng-src="{{ relatedItem.thumbnailUrl }}">
                                <div class="related-item-info">
                                    <span class="related-item-title">{{ relatedItem.title }}</span>
                                    <span class="related-item-subheading">{{ relatedItem.subheading }}</span>
                                </div>
                            </li>
                        </a>
                    </ul>
                </aside>
            </div>
        </div>
    </section>
</div>
