<section class="section section-container">
    <div class="section-inner">
        <h2 class="heading-3">Items</h2>
        <ul>
            <li><a ng-href="{{ createUrl('/exercises/ejercicio-con-video') }}">Ejercicio con vídeo (Mock API only)</a></li>
            <li><a ng-href="{{ createUrl('/presentations/ejercicio-con-video') }}">Item Category Mismatch Test (Mock API only)</a></li>
            <li><a ng-href="{{ createUrl('/exercises/foo') }}">404 Test (Mock API only)</a></li>
        </ul>
        <h2 class="heading-3">Custom Pages</h2>
        <ul>
            <li><a ng-href="{{ createUrl('/ebola') }}">Ebola (Mock API only)</a></li>
            <li><a ng-href="{{ createUrl('/foo') }}">404 Test (Mock API only)</a></li>
        </ul>
    </div>
</section>
