<section class="section section-container">
    <div class="section-inner">
        <h2 class="heading-3">Stage</h2>
        <ul>
            <li><a ng-href="{{ createUrl('/exercises/1204') }}">Example Exercise</a></li>
        </ul>
        <h2 class="heading-3">Mock API</h2>
        <ul>
            <li><a ng-href="{{ createUrl('/exercises/ejercicio-con-video') }}">Example Exercise</a></li>
        </ul>
        <h2 class="heading-3">Test</h2>
        <ul>
            <li><a ng-href="{{ createUrl('/presentations/ejercicio-con-video') }}">Item Category Mismatch</a></li>
            <li><a ng-href="{{ createUrl('/exercises/foo') }}">Not Found</a></li>
        </ul>
    </div>
</section>
