<!-- Wrapper-->
<div id="wrapper" class="top-navigation">

    <!-- Navigation -->
    <ng-include-views-common-top-navigation></ng-include-views-common-top-navigation>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="{{$state.current.name}}">
        <!-- ng-class="{'side-menu-shown': foostatement}" -->

        <!-- Main view  -->
        <div ui-view></div>

        <!-- Footer -->
        <ng-include-views-common-footer></ng-include-views-common-footer>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->