<div class="row">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                    class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <!--
            <a ui-sref="root.start" class="navbar-brand">{{env.SITENAME}}</a>
            -->
            <!-- https://placeholdit.imgix.net/~text?txtsize=60&bg=transparent&txtclr=ffffff&txt=logo&w=460&h=130&fm=png -->
            <a ui-sref="root.start" class="navbar-brand"><img src="/images/logo.png" class="navbar-brand" height="auto"/></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar" ng-include="'views/navigation/top-menu.html'" ng-controller="DataEnvironmentController">

        </div>
    </nav>
</div>