<div class="row white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
        <a href="#" class="navbar-brand"><img src="/images/logo.png" width="115" height="auto"/></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar" ng-include="'views/navigation/top-menu.html'">

        </div>
    </nav>
</div>