<div class="row">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                    class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <!--
            <a ui-sref="root.start" class="navbar-brand">{{env.SITENAME}}</a>
            -->
            <a ui-sref="root.start" class="navbar-brand"></a>
        </div>
        <ng-include-views-common-top-menu class="navbar-collapse collapse" id="navbar">

        </ng-include-views-common-top-menu>
    </nav>
</div>