<div ng-controller="ApiEndpointController">

    <div ng-show="!apiEndpoints.available">Loading</div>
    <div ng-show="apiEndpoints.available">

        <span ng-show="!activeApiEndpoint.available">Choose</span><span ng-show="activeApiEndpoint.available">Switch</span> account:

        <ul>
            <li ng-repeat="apiEndpoint in apiEndpoints.list">
                <i class="fa fa-dashboard" ng-show="apiEndpoint.slug === activeApiEndpoint.slug"></i>
                <a href="javascript:void(0);" ng-click="setApiEndpoint(apiEndpoint.slug);">{{apiEndpoint.slug}}</a>
            </li>
        </ul>

    </div>
    <!--<div ng-show="apiEndpoints.error">Error loading api endpoints list</div>-->

</div>
