<div class="wrapper wrapper-content">
    <h1>Frequently asked questions</h1>

    <div class="row">
        <div class="col-lg-12">

            <h2>When will you open {{env.SITENAME}} to the public?</h2>

            <p>As soon as we have tested and made sure that doing so will not negatively affect our existing users.</p>

            <h2>Who is behind {{env.SITENAME}}?</h2>

            <p>A company called <a href="{{env.BRAND_HOME_URL}}" target="_blank">{{env.BRAND_COMPANY}}</a>.</p>

            <a ui-sref="root.start.user.contact" ui-sref-opts="{reload: true}" class="btn btn-primary btn-lg">Ask us
                a new question &gt;</a></span>

        </div>
    </div>
</div>
