<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Pre-launch notice</h2>
        <ol class="breadcrumb">
            <!--
            <li>
                <a href="index.html">This is</a>
            </li>
            <li class="active">
                <strong>Accounting</strong>
            </li>
            -->
        </ol>
    </div>
    <div class="col-sm-8">
        <!--
        <div class="title-action">
            <a href="" class="btn btn-primary">This is action area</a>
        </div>
        -->
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="middle-box text-center"><!-- animated fadeIn -->
                <h3 class="font-bold">Thank you for signing up and logging in!</h3>

                <div class="error-desc">

                    <p>The service will launch soon.</p>

                    <br/><a ui-sref="dashboard_1" onclick="Intercom('show')" class="btn btn-primary m-t">Contact
                    support</a>
                </div>
            </div>
        </div>
    </div>
</div>