<div id="start" ng-controller="DataEnvironmentController">
    <div id="hero">
        <!--
                <div class="video_contain">
                    <video loop="loop" autoplay="autoplay" controls="false" width="1920" height="1080" poster="{{ optimizelyVariation.data['background poster'] | trusted }}">
                        <source type="video/mp4"
                                src="{{ optimizelyVariation.data['background video mp4'] | trusted }}"/>
                        <source type="video/webm"
                                src="{{ optimizelyVariation.data['background video webm'] | trusted }}"/>
                        <source type="video/ogg"
                                src="{{ optimizelyVariation.data['background video ogg'] | trusted }}"/>
                    </video>
                </div>
    -->

        <h1><span ng-show="!activeDataEnvironment.available && !auth.profilePromise">{{ optimizelyVariation.data["main heading"] }}</span>
            <span ng-show="!activeDataEnvironment.available && auth.profilePromise && dataEnvironments.available && dataEnvironments.list.length === 0">{{ optimizelyVariation.data["account activation heading"] }}</span>
            <span ng-show="!activeDataEnvironment.available && auth.profilePromise && dataEnvironments.available && dataEnvironments.list.length > 0">Your account has super-powers!</span>
                    <span ng-show="activeDataEnvironment.available && auth.profilePromise">Good day<span
                            style="display:inline;" ng-show="auth.profile.gender === 'male'">, Sir</span><span
                            style="display:inline;" ng-show="auth.profile.gender === 'female'">, Ma'am</span>! {{env.SITENAME}} is ready for you!</span>
        </h1>

        <div class="main-section" ng-show="!activeDataEnvironment.available && !auth.profilePromise">

            <div>
                <span ng-bind-html="optimizelyVariation.data['main info'] | sanitize"></span>
            </div>

            <a ui-sref="root.start.user.signup" class="btn btn-warning btn-rounded btn-lg" style="white-space: inherit;"><span ng-bind-html="optimizelyVariation.data['main button text'] | sanitize"></span></a>
            <br>

            <div class="last">
                <span><!--<a ui-sref="root.faq">Find out how</a> or-->
                    <a ui-sref="root.start.user.login">Log in</a> if you already have an account</span>
            </div>

       </div>

        <div class="main-section" ng-show="!activeDataEnvironment.available && auth.profilePromise && dataEnvironments.available && dataEnvironments.list.length === 0">

            <div>
                <span ng-bind-html="optimizelyVariation.data['account activation info'] | sanitize"></span>
            </div>

            <a ui-sref="root.start.user.request-invite"
               class="btn btn-primary btn-lg" style="white-space: inherit;"><span ng-bind-html="optimizelyVariation.data['account activation button text'] | sanitize"></span> &nbsp; <i
                    class="fa fa-lg fa-long-arrow-right"></i></a></span>

            <div class="last">
                <span ng-bind-html="optimizelyVariation.data['account activation subtext'] | sanitize"></span>
            </div>

        </div>

        <div class="main-section" ng-show="!activeDataEnvironment.available && auth.profilePromise && dataEnvironments.available && dataEnvironments.list.length > 0">

            <div class="last">
                <span>To continue, choose a database to work with in the top right corner.</span>
            </div>

        </div>

        <div class="main-section" ng-show="activeDataEnvironment.available && auth.profilePromise">

            <!--
            <p>&nbsp;</p>

            <p>&nbsp;</p>
               -->

            <a ui-sref="root.api-endpoints.existing.get-things-done({dataEnvironment: $root.activeDataEnvironment.slug})"
               class="btn btn-primary btn-lg" href="#">Get things done &nbsp; <i class="fa fa-lg fa-long-arrow-right"></i></a></span>

            <!--
            <a ui-sref="root.api-endpoints.existing.foos.create({dataEnvironment: activeDataEnvironment.slug})" href="#"
               class="btn btn-primary btn-lg">Create a new foo &gt;</a>
            <span>or <a ui-sref="root.api-endpoints.existing.foos.list({dataEnvironment: activeDataEnvironment.slug})"
                        href="#">edit an existing one</a></span>
            -->

            <p>&nbsp;</p>

            <p>&nbsp;</p>

        </div>

        <div class="banner">
        <div ng-show="!activeDataEnvironment.available && !auth.profilePromise">
            <span ng-bind-html="optimizelyVariation.data['main banner'] | sanitize"></span>
        </div>
        <div ng-show="!activeDataEnvironment.available && auth.profilePromise">
            <span ng-bind-html="optimizelyVariation.data['account activation banner'] | sanitize"></span>
        </div>
        <div ng-show="activeDataEnvironment.available && auth.profilePromise">
            <span>The main workflow of {{env.SITENAME}} is shown below:</span>
        </div>
        </div>

    </div>

    <div id="content">

        <div ng-show="!activeDataEnvironment.available && !auth.profilePromise">

        <div class="row" ng-repeat="row in [0,1,2,3,4]" ng-if="optimizelyVariation.data['inforow '+(row+1)+' shown'] === 'yes'">
            <div class="col-md-3" ng-repeat="index in [4*row+1,4*row+2,4*row+3,4*row+4]" ng-if="optimizelyVariation.data['info '+(index)+' shown'] === 'yes'">

                <a ui-sref="root.start.user.signup"
                       href="#"><i class="fa" ng-class="optimizelyVariation.data['info '+(index)+' class']"></i></a>

                <h2>
                    <a ui-sref="root.start.user.signup"
                       href="#"><span class="nav-label">{{ optimizelyVariation.data["info "+(index)+" heading"] }}</span></a></h2>

                <p>{{ optimizelyVariation.data["info "+(index)+" subtext"] }}</p>

            </div>
        </div>

        </div>

        <div ng-show="activeDataEnvironment.available && auth.profilePromise">

        <div class="row">
            <div class="col-md-3">

                <a ui-sref="root.api-endpoints.existing.get-started.introduction({dataEnvironment: activeDataEnvironment.slug})" href="#"><i class="fa fa-building"></i></a>

                <h2><a ui-sref="root.api-endpoints.existing.get-started.introduction({dataEnvironment: activeDataEnvironment.slug})" href="#">
                    <span class="nav-label">1. Get started</span></a></h2>

                <p>

                    Get an introduction to {{env.SITENAME}} and decide what to get done.

                </p>

            </div>
            <div class="col-md-3">

                <a ui-sref="root.api-endpoints.existing.import-and-inspect.import.overview({dataEnvironment: activeDataEnvironment.slug})" href="#"><i class="fa fa-cloud-download"></i></a>

                <h2><a ui-sref="root.api-endpoints.existing.import-and-inspect.import.overview({dataEnvironment: activeDataEnvironment.slug})"
                       href="#"><span class="nav-label">2. Import and inspect</span></a></h2>

                <p>

                    Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum
                    dolor sit amet,

                </p>

            </div>
            <div class="col-md-3">

                <a ui-sref="root.api-endpoints.existing.get-things-done.overview({dataEnvironment: activeDataEnvironment.slug})" href="#"><i class="fa fa-calendar"></i></a>

                <h2><a ui-sref="root.api-endpoints.existing.get-things-done.overview({dataEnvironment: activeDataEnvironment.slug})"
                       href="#"><span class="nav-label">3. Get things done</span></a></h2>

                <p>

                    Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum
                    dolor sit amet,

                </p>

            </div>
            <div class="col-md-3">

                <a ui-sref="root.api-endpoints.existing.up-to-date.overview({dataEnvironment: activeDataEnvironment.slug})" href="#"><i class="fa fa-clock-o"></i></a>

                <h2><a ui-sref="root.api-endpoints.existing.up-to-date.overview({dataEnvironment: activeDataEnvironment.slug})" href="#">
                    <span class="nav-label">4. Stay up-to-date</span></a></h2>

                <p>

                    Set up routines, scheduled imports and reminders for convenient follow-ups at later dates.

                </p>

            </div>

        </div>

        </div>

        <div ng-show="!activeDataEnvironment.available && auth.profilePromise">

        <div class="row">
            <div class="col-md-3">

                <a ui-sref="root.get-started.introduction({dataEnvironment: activeDataEnvironment.slug})" href="#"><i class="fa fa-building"></i></a>

                <h2><a ui-sref="root.get-started.introduction({dataEnvironment: activeDataEnvironment.slug})" href="#">
                    <span class="nav-label">1. Get started</span></a></h2>

                <p>

                    Get an introduction to {{env.SITENAME}} and decide what to get done.

                </p>

            </div>
            <div class="col-md-3">

                <a ui-sref="root.import-and-inspect.import.overview({dataEnvironment: activeDataEnvironment.slug})" href="#"><i class="fa fa-cloud-download"></i></a>

                <h2><a ui-sref="root.import-and-inspect.import.overview({dataEnvironment: activeDataEnvironment.slug})"
                       href="#"><span class="nav-label">2. Import and inspect</span></a></h2>

                <p>

                    Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum
                    dolor sit amet,

                </p>

            </div>
            <div class="col-md-3">

                <a ui-sref="root.get-things-done.overview({dataEnvironment: activeDataEnvironment.slug})" href="#"><i class="fa fa-calendar"></i></a>

                <h2><a ui-sref="root.get-things-done.overview({dataEnvironment: activeDataEnvironment.slug})"
                       href="#"><span class="nav-label">3. Get things done</span></a></h2>

                <p>

                    Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum
                    dolor sit amet,

                </p>

            </div>
            <div class="col-md-3">

                <a ui-sref="root.up-to-date.overview({dataEnvironment: activeDataEnvironment.slug})" href="#"><i class="fa fa-clock-o"></i></a>

                <h2><a ui-sref="root.up-to-date.overview({dataEnvironment: activeDataEnvironment.slug})" href="#">
                    <span class="nav-label">4. Stay up-to-date</span></a></h2>

                <p>

                    Set up routines, scheduled imports and reminders for convenient follow-ups at later dates.

                </p>

            </div>

        </div>

        </div>

    </div>

    <div ng-show="!activeDataEnvironment.available && !auth.profilePromise">

    <!-- pricing -->
    <!--<div ng-include="'views/start.pricing.inc.html'"></div>-->

    <!-- .section -->
    <div id="contact" class="section_header section fullwidth_section section_regular">

        <section id="contact-heading" class="fullwidth_header text_align_center">
            <div class="row">
                <a ui-sref="root.start.user.signup"><h1>About / FAQ</h1></a>
            </div>
        </section>

    </div>

    <!-- .section -->
    <div class="section section_regular">

        <div class="row">
            <div class="column column_4_4">
                <div class="text bg_layout_light text_align_center">

                    <h2>Why did you create {{env.SITENAME}}?</h2>
                    <div ng-bind-html="optimizelyVariation.data['faq why did you create - answer'] | sanitize"></div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="column column_4_4">
                <div class="text bg_layout_light text_align_center">

                    <h2>What can I expect to get help with by using {{env.SITENAME}}?</h2>
                    <div ng-bind-html="optimizelyVariation.data['faq what can i expect to get help with - answer'] | sanitize"></div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="column column_4_4">
                <div class="text bg_layout_light text_align_center">

                    <h2>How much does it cost to use {{env.SITENAME}}?</h2>
                    <div ng-bind-html="optimizelyVariation.data['faq how much does it cost - answer'] | sanitize"></div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="column column_4_4">
                <div class="text bg_layout_light text_align_center">

                    <h2>When will you open {{env.SITENAME}} to the public?</h2>
                    <p>As soon as we have made sure that doing so will not negatively affect our private beta users.<br/>To try out the service, just <a ui-sref="root.start.user.signup" ui-sref-opts="{reload: true}" class="btn btn-primary">sign up</a> to get an invite to the private beta!</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="column column_4_4">
                <div class="text bg_layout_light text_align_center">

                    <h2>Who is behind {{env.SITENAME}}?</h2>
                    <div ng-bind-html="optimizelyVariation.data['faq who is behind - answer'] | sanitize"></div>

                    <a ng-if="auth.profilePromise" ng-click="Intercom('showNewMessage')" ui-sref-opts="{reload: true}" class="btn btn-primary btn-lg">Ask us
                        a new question &gt;</a></span>

                </div>
            </div>
        </div>

    </div>

    </div>

</div>
