    <!-- .et_pb_section -->
    <div id="main-plan" class="et_pb_section et_pb_fullwidth_section et_section_regular" style='background-color:#000000;'>


        <section id="pricing" class="et_pb_fullwidth_header et_pb_bg_layout_dark et_pb_text_align_center">
            <div class="et_pb_row">
                <a ui-sref="root.start.user.signup"><h1>{{ optimizelyVariation.data["main plan header"] }}</h1></a>


            </div>
        </section>

    </div>

    <!-- .et_pb_section -->
    <div class="et_pb_section et_section_regular">

        <div class="et_pb_row">
            <div class="et_pb_column et_pb_column_1_3">
                <div class="et_pb_text et_pb_bg_layout_light et_pb_text_align_right">

                    <h2>{{ optimizelyVariation.data["main plan left subheader"] }}</h2>
                    <div ng-bind-html="optimizelyVariation.data['main plan left subtext'] | sanitize"></div>

                </div>
                <!-- .et_pb_text -->
            </div>
            <!-- .et_pb_column -->
            <div class="et_pb_column et_pb_column_1_3">
                <div class="et_pb_pricing clearfix et_pb_pricing_1">
                    <div class="et_pb_pricing_table et_pb_featured_table">
                        <div class="et_pb_pricing_heading">
                            <h2 class="et_pb_pricing_title">{{ optimizelyVariation.data["main plan name"] }}</h2>
                            <span class="et_pb_best_value">{{ optimizelyVariation.data["main plan description"] }}</span>
                        </div>
                        <!-- .et_pb_pricing_heading -->
                        <div class="et_pb_pricing_content_top">
                            <span class="et_pb_et_price"><span class="et_pb_dollar_sign">$</span><span
                                    class="et_pb_sum">{{ optimizelyVariation.data["main plan monthly price"] }}</span>/month</span>
                        </div>
                        <!-- .et_pb_pricing_content_top -->
                        <div class="et_pb_pricing_content">
                            <ul class="et_pb_pricing">

                            </ul>
                        </div>
                        <!-- .et_pb_pricing_content -->
                        <a ui-sref="root.start.user.signup" class="et_pb_pricing_table_button">{{ optimizelyVariation.data["sign up button text"] }}</a>
                    </div>
                </div>
            </div>
            <!-- .et_pb_column -->
            <div class="et_pb_column et_pb_column_1_3">
                <div class="et_pb_text et_pb_bg_layout_light et_pb_text_align_left">

                    <h2>{{ optimizelyVariation.data["main plan right subheader"] }}</h2>
                    <div ng-bind-html="optimizelyVariation.data['main plan right subtext'] | sanitize"></div>

                </div>
                <!-- .et_pb_text -->
            </div>
            <!-- .et_pb_column -->
        </div>
        <!-- .et_pb_row -->

    </div>

    <!-- .et_pb_section -->
    <div id="pricing" class="et_pb_section et_pb_fullwidth_section et_section_regular" style='background-color:#000000;'>


        <section id="pricing" class="et_pb_fullwidth_header et_pb_bg_layout_dark et_pb_text_align_center">
            <div class="et_pb_row">
                <h1>{{ optimizelyVariation.data["pricing header"] }}</h1>

            </div>
        </section>

    </div>

    <!-- .et_pb_section -->
    <div class="et_pb_section et_section_regular" style='background-color:#ffffff;'>


        <div class="et_pb_row">
            <div class="et_pb_column et_pb_column_4_4">
                <div class="et_pb_pricing clearfix et_pb_pricing_3">
                    <div class="et_pb_pricing_table">
                        <div class="et_pb_pricing_heading">
                            <h2 class="et_pb_pricing_title">{{ optimizelyVariation.data["left plan name"] }}</h2>
                            <span class="et_pb_best_value">{{ optimizelyVariation.data["left plan description"] }}</span>
                        </div>
                        <!-- .et_pb_pricing_heading -->
                        <div class="et_pb_pricing_content_top">
                            <span class="et_pb_et_price"><span class="et_pb_dollar_sign">$</span><span
                                    class="et_pb_sum">{{ optimizelyVariation.data["left plan monthly price"] }}</span>/monthly</span>
                        </div>
                        <!-- .et_pb_pricing_content_top -->
                        <div class="et_pb_pricing_content">
                            <div class="et_pb_pricing" ng-bind-html="optimizelyVariation.data['left plan features markup'] | sanitize">

                            </div>
                        </div>
                        <!-- .et_pb_pricing_content -->
                        <a ui-sref="root.start.user.signup" class="et_pb_pricing_table_button">{{ optimizelyVariation.data["sign up button text"] }}</a>
                    </div>
                    <div class="et_pb_pricing_table et_pb_featured_table">
                        <div class="et_pb_pricing_heading">
                            <h2 class="et_pb_pricing_title">{{ optimizelyVariation.data["center plan name"] }}</h2>
                            <span class="et_pb_best_value">{{ optimizelyVariation.data["center plan description"] }}</span>
                        </div>
                        <!-- .et_pb_pricing_heading -->
                        <div class="et_pb_pricing_content_top">
                            <span class="et_pb_et_price"><span class="et_pb_dollar_sign">$</span><span
                                    class="et_pb_sum">{{ optimizelyVariation.data["center plan monthly price"] }}</span>/monhtly</span>
                        </div>
                        <!-- .et_pb_pricing_content_top -->
                        <div class="et_pb_pricing_content">
                            <div class="et_pb_pricing" ng-bind-html="optimizelyVariation.data['center plan features markup'] | sanitize">

                            </div>
                        </div>
                        <!-- .et_pb_pricing_content -->
                        <a ui-sref="root.start.user.signup" class="et_pb_pricing_table_button">{{ optimizelyVariation.data["sign up button text"] }}</a>
                    </div>
                    <div class="et_pb_pricing_table">
                        <div class="et_pb_pricing_heading">
                            <h2 class="et_pb_pricing_title">{{ optimizelyVariation.data["right plan name"] }}</h2>
                            <span class="et_pb_best_value">{{ optimizelyVariation.data["right plan description"] }}</span>
                        </div>
                        <!-- .et_pb_pricing_heading -->
                        <div class="et_pb_pricing_content_top">
                            <span class="et_pb_et_price"><span class="et_pb_dollar_sign">$</span><span
                                    class="et_pb_sum">{{ optimizelyVariation.data["right plan monthly price"] }}</span>/monthly</span>
                        </div>
                        <!-- .et_pb_pricing_content_top -->
                        <div class="et_pb_pricing_content">
                            <div class="et_pb_pricing" ng-bind-html="optimizelyVariation.data['right plan features markup'] | sanitize">

                            </div>
                        </div>
                        <!-- .et_pb_pricing_content -->
                        <a ui-sref="root.start.user.signup" class="et_pb_pricing_table_button">{{ optimizelyVariation.data["sign up button text"] }}</a>
                    </div>
                </div>
                <div class="et_pb_text et_pb_bg_layout_light et_pb_text_align_center" ng-bind-html="optimizelyVariation.data['pricing subtext'] | sanitize">



                </div>
                <!-- .et_pb_text -->
            </div>
            <!-- .et_pb_column -->
        </div>
        <!-- .et_pb_row -->

    </div>

    <!-- .et_pb_section -->
    <div id="more-options" class="et_pb_section et_pb_fullwidth_section et_section_regular" style='background-color:#000000;'>


        <section id="pricing" class="et_pb_fullwidth_header et_pb_bg_layout_dark et_pb_text_align_center">
            <div class="et_pb_row">
                <h1>{{ optimizelyVariation.data["more options header"] }}</h1>

            </div>
        </section>

    </div>

    <!-- .et_pb_section -->
    <div class="et_pb_section et_section_regular" style='background-color:#ffffff;'>


        <div class="et_pb_row">
            <div class="et_pb_column et_pb_column_1_3">
                <div class="et_pb_pricing clearfix et_pb_pricing_1">
                    <div class="et_pb_pricing_table">
                        <div class="et_pb_pricing_heading">
                            <h2 class="et_pb_pricing_title">{{ optimizelyVariation.data["mo left plan name"] }}</h2>
                            <span class="et_pb_best_value">{{ optimizelyVariation.data["mo left plan description"] }}</span>
                        </div>
                        <!-- .et_pb_pricing_heading -->
                        <div class="et_pb_pricing_content_top">
                            <span class="et_pb_et_price"><span class="et_pb_dollar_sign">$</span><span
                                    class="et_pb_sum">{{ optimizelyVariation.data["mo left plan price"] }}</span>/<span>{{ optimizelyVariation.data["mo left plan unit"] }}</span></span>
                        </div>
                        <!-- .et_pb_pricing_content_top -->
                        <div class="et_pb_pricing_content">
                            <div class="et_pb_pricing" ng-bind-html="optimizelyVariation.data['mo left plan features markup'] | sanitize">

                            </div>
                        </div>
                        <!-- .et_pb_pricing_content -->
                        <a ui-sref="root.start.user.signup" class="et_pb_pricing_table_button">{{ optimizelyVariation.data["sign up button text"] }}</a>
                    </div>
                </div>
            </div>
            <!-- .et_pb_column -->
            <div class="et_pb_column et_pb_column_1_3">
                <div class="et_pb_pricing clearfix et_pb_pricing_1">
                    <div class="et_pb_pricing_table">
                        <div class="et_pb_pricing_heading">
                            <h2 class="et_pb_pricing_title">{{ optimizelyVariation.data["mo center plan name"] }}</h2>
                            <span class="et_pb_best_value">{{ optimizelyVariation.data["mo center plan description"] }}</span>
                        </div>
                        <!-- .et_pb_pricing_heading -->
                        <div class="et_pb_pricing_content_top">
                            <span class="et_pb_et_price"><span class="et_pb_dollar_sign">$</span><span
                                    class="et_pb_sum">{{ optimizelyVariation.data["mo center plan price"] }}</span>/<span>{{ optimizelyVariation.data["mo center plan unit"] }}</span></span>
                        </div>
                        <!-- .et_pb_pricing_content_top -->
                        <div class="et_pb_pricing_content">
                            <ul class="et_pb_pricing">{{ optimizelyVariation.data["mo center plan features markup"] }}

                            </ul>
                        </div>
                        <!-- .et_pb_pricing_content -->
                        <a ui-sref="root.start.user.signup" class="et_pb_pricing_table_button">{{ optimizelyVariation.data["sign up button text"] }}</a>
                    </div>
                </div>
            </div>
            <!-- .et_pb_column -->
            <div class="et_pb_column et_pb_column_1_3">
                <div class="et_pb_pricing clearfix et_pb_pricing_1">
                    <div class="et_pb_pricing_table">
                        <div class="et_pb_pricing_heading">
                            <h2 class="et_pb_pricing_title">{{ optimizelyVariation.data["mo right plan name"] }}</h2>
                            <span class="et_pb_best_value">{{ optimizelyVariation.data["mo right plan description"] }}</span>
                        </div>
                        <!-- .et_pb_pricing_heading -->
                        <div class="et_pb_pricing_content_top">
                            <span class="et_pb_et_price"><span class="et_pb_dollar_sign">$</span><span
                                    class="et_pb_sum">{{ optimizelyVariation.data["mo right plan price"] }}</span>/<span>{{ optimizelyVariation.data["mo right plan unit"] }}</span></span>
                        </div>
                        <!-- .et_pb_pricing_content_top -->
                        <div class="et_pb_pricing_content">
                            <ul class="et_pb_pricing">{{ optimizelyVariation.data["mo right plan features markup"] }}

                            </ul>
                        </div>
                        <!-- .et_pb_pricing_content -->
                        <a ui-sref="root.start.user.signup" class="et_pb_pricing_table_button">{{ optimizelyVariation.data["sign up button text"] }}</a>
                    </div>
                </div>
            </div>
            <!-- .et_pb_column -->
        </div>
        <!-- .et_pb_row -->

        <div class="et_pb_row">
            <div class="et_pb_column et_pb_column_4_4">
                <div class="et_pb_text et_pb_bg_layout_light et_pb_text_align_center" ng-bind-html="optimizelyVariation.data['more options subtext'] | sanitize">



                </div>
            </div>
        </div>

    </div>
