<div id="start" ng-controller="ApiEndpointController">
    <div id="hero">
        <!--
    <video autoplay loop>
        
    <source src="http://static.foo.com/bgvideo/bgvideo.m4v" type="video/mp4"/>
    <source src="http://static.foo.com/bgvideo/bgvideo.webm" type="video/webm"/>
    <source src="http://static.foo.com/bgvideo/bgvideo.ogv" type="video/ogv"/>


    </video>
    -->

        <h1><span ng-show="!activeApiEndpoint.available && !auth.profilePromise">Big headline</span>
            <span ng-show="!activeApiEndpoint.available && auth.profilePromise">Thank you for signing up!</span>
            <span ng-show="activeApiEndpoint.available && auth.profilePromise">Welcome!</span></h1>

        <div ng-show="!activeApiEndpoint.available && !auth.profilePromise">

            <a ui-sref="root.start.user.signup" ui-sref-opts="{reload: true}" class="btn btn-primary btn-lg">Sign up &nbsp; <i class="fa fa-lg fa-long-arrow-right"></i></a></span>

            <div>
                <span><!--<a ui-sref="root.faq">Find out how</a> or--> <a ui-sref="root.start.user.login"
                                                                   ui-sref-opts="{reload: true}">Log in</a> if you already have an account</span>
            </div>

            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <!--
            <a ui-sref="root.start.user.login"
                        class="btn btn-primary btn-lg" href="#">Log In</a></span>
            -->

        </div>

        <div ng-show="!activeApiEndpoint.available && auth.profilePromise">

            <div>
                <span>We are in private beta and are thrilled to get you on board!<br/>Tell us a bit about what you hope to achieve with {{env.SITENAME}} and we will invite you to the beta:</span>
            </div>

            <a ui-sref="root.start.user.request-invite" ui-sref-opts="{reload: true}" class="btn btn-primary btn-lg">Request invite now by chat &nbsp; <i class="fa fa-lg fa-long-arrow-right"></i></a></span>

            <div>
                <span>All users with beta access will get a FREE lifetime standard account of {{env.SITENAME}}!</span>
            </div>

        </div>

        <div ng-show="activeApiEndpoint.available && auth.profilePromise">

            <a ui-sref="root.api-endpoints.existing.foos.list({apiEndpoint: activeApiEndpoint.slug})"
                        class="btn btn-primary btn-lg" href="#">Go to foos &gt;</a></span>

            <!--
            <a ui-sref="root.api-endpoints.existing.campaigns.create({apiEndpoint: activeApiEndpoint.slug})" href="#"
               class="btn btn-primary btn-lg">Create a new campaign &gt;</a>
            <span>or <a ui-sref="root.api-endpoints.existing.campaigns.list({apiEndpoint: activeApiEndpoint.slug})"
                        href="#">edit an existing one</a></span>
            -->
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>

        </div>

        <div class="banner">{{env.SITENAME}} helps users create <a href="#">interactive foos</a>, do stuffs, achieve everything.
        </div>

    </div>

    <div id="content">


        <div class="row">
            <div class="col-md-3">

                <i class="fa fa-dashboard"></i>

                <h2><a ui-sref="root.api-endpoints.existing.foo({apiEndpoint: activeApiEndpoint.slug})" href="#">
                    <span class="nav-label">Suited foos</span></a></h2>

                <p>

                    Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum
                    dolor sit amet,

                </p>

            </div>
            <div class="col-md-3">

                <i class="fa fa-dashboard"></i>

                <h2><a ui-sref="root.api-endpoints.existing.foo({apiEndpoint: activeApiEndpoint.slug})" href="#">
                    <span class="nav-label">Increase your reach</span></a></h2>

                <p>

                    Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum
                    dolor sit amet,

                </p>

            </div>
            <div class="col-md-3">

                <i class="fa fa-dashboard"></i>

                <h2><a ui-sref="root.api-endpoints.existing.foo({apiEndpoint: activeApiEndpoint.slug})" href="#">
                    <span class="nav-label">Get statistics</span></a></h2>

                <p>

                    Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum
                    dolor sit amet,

                </p>

            </div>
            <div class="col-md-3">

                <i class="fa fa-dashboard"></i>

                <h2><a ui-sref="root.api-endpoints.existing.foo({apiEndpoint: activeApiEndpoint.slug})" href="#">
                    <span class="nav-label">Live updates</span></a></h2>

                <p>

                    Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum
                    dolor sit amet,

                </p>

            </div>

        </div>


    </div>


</div>
