<!-- The actual main input -->
<div class="select2 m-b">
    <select2 ng-model="ngModel" options="crud.relations.thumbnailMedia.select2Options">
        <option value="{{ngModel}}">{{label}}
        </option>
    </select2>
</div>

<input name="foo4" type="filepicker-dragdrop" ng-model="files"
       data-fp-apikey="asdfasdfasdfasdf"
       data-fp-mimetypes="*/*" data-fp-container="modal" data-fp-multiple="true"
       data-fp-services="COMPUTER,DROPBOX,GOOGLE_DRIVE,GMAIL,BOX,IMAGE_SEARCH,URL,CONVERT">

<!--
<input name="foo2" type="filepicker-dragdrop" ng-model="files"
       data-fp-apikey="asdfasdfasdfasdf"
       data-fp-mimetypes="image/*" data-fp-container="modal" data-fp-multiple="false"
       data-fp-services="COMPUTER,DROPBOX,GOOGLE_DRIVE,GMAIL,BOX,IMAGE_SEARCH,URL,CONVERT">
-->

<!--
<ul>
    <li ng-repeat="file in files">{{file}}</li>
</ul>
<pre>
{{ files | json }}
</pre>
-->

<!-- <ul style="margin:0; padding:0;" ng-show="false">
<li><span>img.png</span> <span><a href="#">[View]</a></span> <span><a href="#">[Change]</a></span>
</li>
<br/>
<button class="btn btn-sm btn-primary">Add new file</button>
<button class="btn btn-sm btn-primary">Manage files</button>
</ul> -->
