<form class="form" ua-reset-password ng-show="!emailSent">
  <h2 class="form-heading">Reset Your Password</h2>
  <div class="form-fields">
    <input name="login" placeholder="Email" type="text" class="form-control single-control">
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="loading">
		<span ng-show="!loading">Send Email</span>
		<img ng-show="loading" src="img/ajax-loader-blue.gif">
	</button>
  <div ng-show="error" class="alert alert-danger">{{ error.message }}</div>
</form>

<div ng-show="emailSent" class="alert alert-success">An email with a link has been sent to your inbox. Click on it to set a new password.</div>