<div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <!--<h1 class="logo-name">{{env.SITENAME}}</h1>-->

            </div>
            <h3>Set a New Password</h3>

            <form class="m-t" role="form" ua-set-password ng-show="!passwordSaved">
                <div class="form-group">
                    <input name="new_password" type="password" class="form-control" placeholder="New Password" required="">
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b" ng-disabled="loading">
                    <span ng-show="!loading">Save</span>
                    <img ng-show="loading" src="img/ajax-loader-blue.gif">
                </button>

                <div ng-show="error" class="alert alert-danger">{{ error.message }}</div>
                <div ng-show="passwordSaved" class="alert alert-success">Your new password has been saved, now <a href="#/login">log in</a>.</div>

            </form>
            <!--
            <p class="m-t"> <small><a href="{{env.BRAND_HOME_URL}}" target="_blank">{{env.BRAND_COMPANY}}</a> &copy; 2014-2015</small> </p>
            -->

        </div>
    </div>
