<div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <!--<h1 class="logo-name">{{env.SITENAME}}</h1>-->

            </div>
            <h3>Sign up - {{env.SITENAME}}<span ng-show="$state.current.data.plan !== 'default'"> - {{$state.current.data.plan | capitalize}}</span></h3>
            <!--<p>Create account to see it in action.</p>-->
            <form class="m-t" role="form" ua-signup>
                <div class="form-group">
                    <input name="first_name" type="text" class="form-control" placeholder="Name" required="">
                </div>
                <div class="form-group">
                    <input name="login" type="email" class="form-control" placeholder="Email" required="" ua-is-email>
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="Password" required="">
                </div>

                <input type="hidden" name="properties.signup_plan" placeholder="Plan" value="{{$state.current.data.plan}}">

                <div class="form-group" ng-show="env.TERMS_URL !== ''">
                        <div class="checkbox i-checks"><label> <input type="checkbox" required=""><i></i> Agree to the <a href="{{env.TERMS_URL}}" target="_blank">terms</a> </label></div>
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b" ng-disabled="loading">
                    <span ng-show="!loading">Sign Up</span>
                    <img ng-show="loading" src="img/ajax-loader-blue.gif">
                </button>

                <p style="text-align: center;"><a href="" ua-oauth-link="facebook">Or sign up with Facebook</a></p>

                <div ng-show="error" class="alert alert-danger">{{ error.message }}</div>
                <div ng-show="verificationEmailSent" class="alert alert-success">An email has been sent to your inbox. Click on the link to verify your account.</div>

                <p class="text-muted text-center"><small>Already have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="#/user/login">Login</a>
            </form>
            <!--
            <p class="m-t"> <small><a href="{{env.BRAND_HOME_URL}}" target="_blank">{{env.BRAND_COMPANY}}</a> &copy; 2014-2015</small> </p>
            -->

        </div>
    </div>

