<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="Gapminder" lang="{{ locale.getCurrentLocale() }}" dir="{{ locale.getTextDirection() }}">
<head>
    <title ng-bind="pageTitle + ' - Gapminder'"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/main.css">
    <base ng-href="{{ getBaseRoute() }}">
</head>
<body ng-controller="MainCtrl" class="{{ layout }}" ng-init="init()" ng-show="load.pageFullyLoaded()" ng-cloak>
    <div ng-include="'templates/partials/navbar.html'"></div>
    <div ng-view class="page"></div>
    <footer ng-include="'templates/partials/footer.html'"></footer>
    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        // Environment-specific configurations
        angular.module('Gapminder')
            .constant('environment', '<%- environment %>')
            .constant('baseApiUrl', '<%- baseApiUrl %>')
            .constant('html5Mode', <%- html5Mode %>);
    </script>
</body>
</html>
