<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="Gapminder" lang="{{ localeMgr.getCurrentLocale() }}" dir="{{ localeMgr.getTextDirection() }}">
<head>
  <title ng-bind="getPageTitle()"></title>
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="{{ localeMgr.getCurrentLocale() }}">
  <meta name="fragment" content="!">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="{{ getMetaDescription() }}">
  <meta name="prerender-status-code" content="{{ prerenderStatusCode }}">
  <meta name="prerender-header" content="{{ prerenderHeader }}">
  <link rel="alternate" media="only screen and (max-width: 767px)" href="{{ urlMgr.getMobileUrl() }}">
  <link rel="stylesheet" href="<%- ASSET_URL %>assets/css/main.css?<%- VERSION %>-<%- BUILD_HASH %>">
  <base ng-href="{{ getBaseRoute() }}">
</head>
<body ng-controller="MainCtrl" class="{{ layout }}" ng-init="init()" ng-show="pageLoader.pageFullyLoaded()" ng-cloak>
  <div ng-include="createTemplateUrl('/partials/navbar.html')"></div>
  <div ui-view class="page" ng-hide="pageNotFound"></div>
  <div ng-show="pageNotFound" ng-include="createTemplateUrl('/partials/404.html')"></div>
  <footer ng-include="createTemplateUrl('/partials/footer.html')"></footer>
  <script src="<%- ASSET_URL %>assets/js/vendor.js?<%- VERSION %>-<%- BUILD_HASH %>"></script>
  <script src="<%- ASSET_URL %>assets/js/main.js?<%- VERSION %>-<%- BUILD_HASH %>"></script>
  <script>
    // Environment-specific configurations
    angular.module('Gapminder')
      .constant('BASE_API_URL', '<%- BASE_API_URL %>')
      .constant('ASSET_URL', '<%- ASSET_URL %>')
      .constant('CANONICAL_BASE_URL', '<%- CANONICAL_BASE_URL %>')
      .constant('MOBILE_BASE_URL', '<%- MOBILE_BASE_URL %>')
      .constant('HTML5_MODE', <%- HTML5_MODE %>)
      .constant('TESTING', false)
      .constant('VERSION', '<%- VERSION %>')
      .constant('BUILD_HASH', '<%- BUILD_HASH %>');
  </script>
  <script>
    (function() {
      // Google Custom Search
      var cx = '011760643686675649438:usn4ikfmofa';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//www.google.com/cse/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
</body>
</html>
