<div class="page-item" loader>
    <section class="section section-container">
        <div class="section-inner">
            <div class="columns">
                <div class="column-primary">
                    <!--
                    <div class="item-type">{{ itemCategory }}
                        <span class="glyphicon glyphicon-chevron-right"></span> #{{ item.id }}
                    </div>
                    -->
                    <h1 class="item-title">{{ item.attributes.heading }}</h1>
                    <span class="item-subheading">{{ item.attributes.subheading }}</span>
                    <item-splash blocks="item.attributes.composition.data" class="item-splash"></item-splash>
                    <div class="item-info">
                        <div class="item-info-primary">
                            <sir-trevor-blocks blocks="item.attributes.composition.data" about="item.attributes.about" about-show-more></sir-trevor-blocks>
                        </div>
                        <div class="item-info-secondary">
                            <div class="info-segment">
                                <h2 class="heading-4" i18n="item-page:share-heading|html">Share</h2>
                                <a class="a2a_dd" href="https://www.addtoany.com/share_save">
                                    <ul class="item-share">
                                        <li><span class="fa fa-envelope-o"></span></li>
                                        <li><span class="fa fa-facebook"></span></li>
                                        <li><span class="fa fa-twitter"></span></li>
                                        <li><span class="fa fa-ellipsis-h"></span></li>
                                    </ul>
                                </a>
                                <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
                            </div>
                            <!-- TODO: Get contribution actions based on user role (e.g. translator).
                            <div class="info-segment">
                                <h2 class="heading-4">Contribute</h2>
                                <a class="btn btn-sm btn-accented btn-block" ng-href="{{ createUrl('/') }}">Translate into Spanish</a>
                                <a class="btn btn-sm btn-accented btn-block" ng-href="{{ createUrl('/') }}">Translate into Japanese</a>
                            </div>
                            -->
                            <div class="info-segment">
                                <h2 class="heading-4" i18n="item-page:thanks-to-heading|html">Thanks to</h2>
                                <div class="item-contributors">
                                    <a ng-hide="contributor.user_id == 1" ng-repeat="contributor in item.contributors" ng-click="itemService.goToProfile(contributor.user_id, $event)" href="{{ itemService.createUserProfileUrl(contributor.user_id) }}">
                                        <img class="item-contributor" ng-src="{{ contributor.thumbnail_url }}" alt="{{ contributor.username }}" title="{{ contributor.username }}">
                                    </a>
                                </div>
                                <!-- <a class="item-participate-link" ng-href="{{ createUrl('/') }}" i18n="item-page:participate-link-label|html">Participate</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <aside class="column-secondary">
                    <div ng-show="item.related">
                        <h2 class="heading-4" i18n="item-page:related-heading|html">Related</h2>
                        <ul class="item-list item-list-small">
                            <li class="item-list-item" ng-repeat="relatedItem in item.related">
                                <a ng-href="{{ sirTrevor.createRelatedItemUrl(relatedItem) }}">
                                    <img class="item-list-thumbnail" ng-src="{{ relatedItem.attributes.thumb.original }}">
                                    <div class="item-list-info">
                                        <span class="item-list-title">{{ relatedItem.attributes.heading }}</span>
                                        <span class="item-list-subheading">{{ relatedItem.attributes.subheading }}</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </section>
</div>
