<div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <!--<h1 class="logo-name">{{env.SITENAME}}</h1>-->

            </div>
            <h3>Sign up - {{env.SITENAME}}<span ng-show="$state.current.data.plan !== 'default'"> - {{$state.current.data.plan | capitalize}}</span></h3>

                <p style="text-align: center;">Use your existing account:</p>

                <p style="text-align: center;">
                    <button ua-oauth-link="facebook" class="btn btn-lg btn-facebook"><i class="fa fa-facebook"></i></button>
                    <button ua-oauth-link="google" class="btn btn-lg btn-google"><i class="fa fa-google"></i></button>
                    <button ua-oauth-link="linkedin" class="btn btn-lg btn-linkedin"><i class="fa fa-linkedin"></i></button>
                    <button ua-oauth-link="github" class="btn btn-lg btn-github"><i class="fa fa-github"></i></button>
                </p>

                <p style="text-align: center;">Or fill out the form:</p>

            <!--<p>Create account to see it in action.</p>-->
            <form novalidate class="m-t" role="form" name="signupForm"
                  ng-controller="SignupController as signupCtrl" ng-submit="signupForm.$valid" ua-signup>
                <div class="form-group">
                    <input name="first_name" ng-model="signupCtrl.user.first_name" type="text" class="form-control" placeholder="First Name">
                </div>
                <div class="form-group">
                    <input name="last_name" ng-model="signupCtrl.user.last_name" type="text" class="form-control" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <input name="login" ng-model="signupCtrl.user.login" type="email" class="form-control" placeholder="Email" required="" ua-is-email>
                </div>
                <div class="form-group">
                    <input name="password" ng-model="signupCtrl.user.password" type="password" class="form-control" placeholder="Password" required="" ng-minlength="5">
                </div>

                <input type="hidden" ng-model="signupCtrl.user.properties.signup_plan" name="properties.signup_plan" placeholder="Plan" value="{{$state.current.data.plan}}">

                <!--
                TODO: set to non-required if terms url is empty
                <div class="form-group" ng-show="env.TERMS_URL !== ''">
                        <div class="checkbox i-checks"><label> <input type="checkbox" required=""><i></i> Agree to the <a href="{{env.TERMS_URL}}" target="_blank">terms</a> </label></div>
                </div>
                -->

                <button type="submit" class="btn btn-primary block full-width m-b" ng-disabled="loading || !signupForm.$valid">
                    <span ng-show="!loading">Sign Up</span>
                    <img ng-show="loading" src="img/ajax-loader-blue.gif">
                </button>

                <div ng-show="error" class="alert alert-danger">{{ error.message }}</div>
                <div ng-show="verificationEmailSent" class="alert alert-success">An email has been sent to your inbox. Click on the link to verify your account.</div>

                <p class="text-muted text-center"><small>Already have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="#/user/login">Login</a>
            </form>
            <!--
            <p class="m-t"> <small><a href="{{env.BRAND_HOME_URL}}" target="_blank">{{env.BRAND_COMPANY}}</a> &copy; 2014-2015</small> </p>
            -->

        </div>
    </div>

