.search-box
  margin-left: 12px
  margin-right: 12px

  .gsc-control-searchbox-only
    width: 165px
    height: $navbar-height
    display: table-cell
    vertical-align: middle

    input[type="text"].gsc-input
      @extend .form-control
      background: none !important
      border: 1px solid $gray-lighter
      border-right: none
      font-size: 14px
      height: 26px
      padding: 6px

      &:focus
        border-width: 1px
        border-color: $gray-lighter

    form.gsc-search-box
      margin-bottom: 0

    table.gsc-search-box
      margin-bottom: 0

      td.gsc-input
        padding-right: 0

    .gsc-clear-button
      display: none

    input.gsc-search-button
      background: url(../../images/icons/icon-search.svg) no-repeat
      background-size: 22px
      background-position: right center
      background-color: $navbar-default-bg
      border: 1px solid $gray-lighter
      border-left: none
      border-radius: 0
      color: $navbar-default-bg
      height: 26px
      margin-left: 0
      outline: 0
