<form class="form" ua-set-password ng-show="!passwordSaved">
  <h2 class="form-heading">Set a New Password</h2>
  <div class="form-fields">
    <input name="new_password" placeholder="New Password" type="password" class="form-control single-control">
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="loading">
		<span ng-show="!loading">Save</span>
		<img ng-show="loading" src="img/ajax-loader-blue.gif">
	</button>
  <div ng-show="error" class="alert alert-danger">{{ error.message }}</div>
</form>

<div ng-show="passwordSaved" class="alert alert-success">Your new password has been saved, now <a href="#/login">log in</a>.</div>